﻿@model IEnumerable<OutSurance.Models.CSVExporterModel>

@{
    ViewBag.Title = "Read";
}


@using (Html.BeginForm("Read", "CSVExpoter", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" class="form-control btn-success" value="Read" />
    </div>
}

<div class="form-control alert-success">
    Order by Frequency
</div>

<table class="table table-striped">
    <tr>    
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
    </tr>
        
    @foreach (var item in Model)
    {
        <tr>     
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>      
        </tr>
    }

</table>


<div class="form-control alert-success">
    Order By Street Name
</div>

<table class="table table-striped">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>        
    </tr>

    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
    
        </tr>
    }

</table>


@using (Html.BeginForm("Export", "CSVExpoter", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="submit" class="form-control btn-success" value="Export to CSV" />
    </div>
}


