﻿@model IEnumerable<OutSurance.Models.CSVExporterModel>

@{
    ViewBag.Title = "Read";
}


@using (Html.BeginForm("Read", "CSVExpoter", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary()*@

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" class="form-control btn-success" value="Read and export to CSV" />
    </div>
}
